.contact-content{
    height: 30rem;
    display: block;
    margin-top: 32px;
    padding: 9px;
    position: relative;
    overflow: hidden;
}
.contact-content::after{
    content: "";
    background-image: url('../img/worldnews.jpg');
    position: absolute;
    top: 0;
    width: 100%;
    height: inherit;
    opacity: 0.15;
    z-index: -1;
}